module.exports.staticRestSuffix = {
  wasteCalendarExport: '/waste_calendar/export?',
  wasteReminderRegister: '/notification/wastes.json',
  wasteReminderDelete: '/notification/wastes/'
};

<% if @encounters_url.present? %>
module.exports.encounterApi = {
  serverUrl: '<%= @encounters_url %>/',
  version: 'v1/',
  encounter: {
    create: 'encounter',
    poll: 'encounters/poll',
    list: 'encounters'
  },
  qr: 'qr_code',
  support: {
    create: 'support/create'
  },
  user: 'user'
};
<% end %>

module.exports.secrets = {
  '<%= @slug_name %>': {
    serverUrl: 'https://<%= @slug_name %>.server.smart-village.app',
    graphqlEndpoint: '/graphql',

    oAuthTokenEndpoint: '/oauth/token',
    oAuthClientId: '<%= @mobile_account_client_id %>',
    oAuthClientSecret: '<%= @mobile_account_client_secret %>',
    oAuthGrantType: 'client_credentials',

    rest: {
      pushDevicesRegister: '/notification/devices.json',
      pushDevicesDelete: '/notification/devices/remove.json',
      pushDevicesDataProviders: '/notification/devices/0.json',
      pushDevicesAddAssignment: '/notification/push_device_assignments/add.json',
      pushDevicesRemoveAssignment: '/notification/push_device_assignments/remove.json'
    },

    <% if @sentry_api %>
    sentryApi: {
      config: {
        authToken: '<%= @sentry_api_auth_token %>',
        organization: '<%= @sentry_api_organization %>',
        project: '<%= @sentry_api_project %>'
      },
      dsn: '<%= @sentry_api_dsn %>'
    },
    <% end %>

    <% if @humhub_url.present? %>
    volunteer: {
      passwordForgottenUrl: '<%= @humhub_url %>/user/password-recovery',
      inviteUrl: '<%= @humhub_url %>/user/auth/login',
      serverUrl: '<%= @humhub_url %>',
      dataPrivacyLink: '<%= @humhub_url %>/legal/page/view?pageKey=privacy',
      v1: '/api/v1/',
      v2: '/api/v2/'
    },
    <% end %>

    <% if @consul_url.present? %>
    consul: {
      serverUrl: '<%= @consul_url %>',
      graphqlEndpoint: '/graphql',

      settings: '/account',
      termsOfService: '/conditions',
      passwordForgotten: '/users/password/new'
    },
    <% end %>

    <% if @sue.present? %>
    sue: {
      serverUrl: '<%= @sue_url %>',
      apiKey: '<%= @sue_api_key %>',
      jurisdictionId: '<%= @sue_juris_diction_id %>',
    }
    <% end %>
  }
};
